h1 { 
    size: 14px;
    color: grey;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}


/* Header */

#header {
	padding-top: 0px;
}

.loginCenter{
	margin: 0 auto;
	position:relative;
	width: 350px;
}

#header_right { 
	position:absolute;
	margin: 0 auto;
	right:10px;
}

#logout {
	position:absolute;
	margin: 0 auto;
	right:110px;
	top: 60px;
	color: grey;
	font-weight:bold;
}


#header_login { 
	position:relative;
	width:300px;
	margin: 0 auto;
	padding-top: 12%;
	left:17%;
}

#header_left { 
	margin-left: 80px;
	padding-top: 20px;
	float:left;
}

.coin_h3 {
	padding-top:120px;
	clear:both;
}

.pw_h3 {
	margin-top:0px;
}

/* TabMenu */

#tabmenu {
	padding-top: 100px;
	margin-right: 100px;
	margin-left: 80px;
}

.ui-widget {
    font-size: 90%;
 }
.ui-widget .ui-widget {
    font-size: 100%;
 }

#scrollpane {
	margin-right: 100px;
	margin-left: 80px;
	height: 600px;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	background: white;
	margin-bottom:20px;
	padding-bottom:20px;
}


.overview_header{
	size: 16px;
}

.registration_panel {
	width: 40%;
	position:left;
	float:left;
	margin-top: 5%;
}

.account_panel {
	width: 350px;
	position:left;
}

.buyCoin_panel {
	width: 350px;
	position:left;
	margin-top:20px;
	margin-bottom:20px;
}

.registration_text_panel {
	float: right;
	width: 50%;
	position:right;
	text-align: center;
}


.coin_image {
	height:100px;
	width:100px;
	position: absolute;
	margin: 0 auto;
	left:50%;
}


.numcoin_text {
	padding-top: 37px;
	text-align: center;
	width:100px;
	font-size: 22px;
	font-weight:bold;
	position: absolute;
	color: gray;
	margin: 0 auto;
	text-shadow: 2px 2px black;
	left:50%;
}


/* Body */
#mainHeader{
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	top: 100px;
	color: #666;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
}

p:selectOneMenu {
	width:100px;
}

/* Login */
body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  background: white;
}


.login-help {
  margin: 20px 0;
  font-size: 12px;
  color: black;
  text-align: center;
}
.login-help a {
  color: grey;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

.overview_header {
	color: red;
}

.login input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

.errorMessage {
	color: red;
}

.ui-messages-error, .ui-message-error  {
	width: 335px!important;
}

.ui-messages-info, .ui-message-info {
	width: 335px!important;
}


.green {
    background-color:#E0F8E6 !important;
    background-image:none !important;
    color:#000000 !important;
}

.orange {
    background-color:#F5F6CE !important;
    background-image:none !important;
    color:#000000 !important;
}

.red {
	background-color:#F8E0E0 !important;
    background-image:none !important;
    color:#000000 !important;
}

