<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    version="3.0">

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>home</param-value>
	</context-param>

	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<context-param>
		 <param-name>com.sun.faces.expressionFactory</param-name>
		 <param-value>com.sun.el.ExpressionFactoryImpl</param-value>
	</context-param>
	
	<!-- 
	<servlet>  
	      <servlet-name>UserInterface</servlet-name>  
	      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>  
	      <init-param>  
		        <param-name>com.sun.jersey.config.property.packages</param-name>  
		        <param-value>at.ac.tuwien.webservice</param-value>  
	      </init-param>  
	      <load-on-startup>1</load-on-startup>  
	 </servlet>  
	     
	 <servlet-mapping>  
	      <servlet-name>UserInterface</servlet-name>  
	      <url-pattern>/rest/*</url-pattern>  
	 </servlet-mapping>
	-->
</web-app>
